body{
    margin: 0;
    padding: 0;

    background-color: blanchedalmond;  

    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaPZ45_LYtPFI8TL_58o41GsPeI_C8bCNzAw&s); 
    background-size: cover;
    background-position: center;



    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#login-area{
    margin: 2rem;
    padding: 2rem;
    aspect-ratio: 1/1;
    background-color:rgba(255, 248, 220, 0.75);
    border: 2px black solid;

    font-size: 1rem;
}
#login-area h1{
    font-family: cursive;
    font-size: 2em;
}
#login-area p{
   font-size: 1.25em; 
}
#login-area :is(h1, p){
    text-align: center;
}

#login-form input{
    all: unset;
    border-bottom: solid black 1.5px;
    padding: 0.1em 0.25em;
}
#login-form input:focus{
    background-color: white;
}
#login-button{
    all:unset;
    cursor:pointer;
    padding: 0.5em 0.75em;
    background-color: rgb(130, 130, 130);
    color: white;
}